.sponsor-group {
  border-left: 3px solid $c-dust-golden;
  display: flex;
  margin: 0 7rem 4.5rem 4rem;
}

.sponsor-group__title {
  align-self: flex-start;
  background: $c-dust;
  font-family: $f-heavy;
  font-size: 1rem;
  left: -0.9em;
  margin-right: 1em;
  padding-top: 1.5em;
  position: relative;
  text-align: right;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}

.sponsor-group__sponsors {
  width: 100%;
}
