.skeleton {
  position: relative;

  img {
    opacity: 0.2;
  }

  .left {
    position: absolute;
    top: 13%;
    left: 7%;
    width: 40%;
    text-align: left;

    h2 {
      font-size: 30px;
      color: $c-blue;
    }

    p {
      font-size: 13px;
    }
  }

  .right {
    position: absolute;
    top: 13%;
    left: 50%;
    width: 40%;
  }
}
