.skeleton {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 46vw;
  overflow: hidden;

  .left {
    @include grid-span(5,2);
    position: relative;
    z-index: 10;
    margin-top: 10vh;
  }

  .right {
    @include grid-span(5,8);
    position: relative;
    z-index: 10;
    height: 100%;

    .image-wrapper {
      height: 80%;
      margin-top: 10%;

      img {
        display: block;
        margin: auto;
        height: 100%;
      }

    }

  }

  .background-image {
    z-index: 5;
    position: absolute;
    bottom: 0;
  }

}

.skeleton__title {
  @include heading;
}

.skeleton__body {
  font-family: $f-base;
  line-height: 1.5;
}
