.skeleton {
  position: relative;
  z-index: 1;
  width: 100%;
  //height: 48vw;
  overflow: hidden;

  .wrapper {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
  }

  .left {
    @include grid-span(5,2);
    position: relative;
    z-index: 10;
    margin-top: 10vh;
    overflow: scroll;
    height: 100%;
  }

  .right {
    @include grid-span(5,8);
    position: relative;
    z-index: 10;
    height: 100%;

    .image-wrapper {
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 98%;

      @include breakpoint($bp-narrow) {
        height: 90%;
      }

      @include breakpoint($bp-wide) {
        height: 80%;
      }

      .button--primary {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
      }

      img {
        display: block;
        margin: auto;
        height: 100%;
        width: auto;
      }

    }

  }

  .background-image {
    z-index: 5;
    position: relative;
    bottom: 0;
  }

}

.skeleton__title {
  @include text-heading;
}

.skeleton__body {
  font-family: $f-base;
  line-height: 1.5;
}
