.menu--main {
  .menu--hamburger {
    height: 2em;
    display: block;

    @include breakpoint($bp-menu) {
      display: none;
    }
  }

  nav {
    @include text-small;
    display: none;

    @include breakpoint($bp-menu) {
      display: block;
    }

    ul {
      padding: 0 0.8em;
      @include breakpoint($bp-l-up) {
        text-align: right;
      }
    }

    li {
      display: inline-block;
      line-height: 3;
      padding: 0 1em;

      @include breakpoint($bp-l-up) {
        line-height: 1.5;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    a {
      cursor: pointer;
      color: $c-black;
      text-decoration: none;

      &:focus,
      &:hover,
      &.active {
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 3px;
          left: 0;
          width: 100%;
          height: 100%;

          border-bottom-style: solid;
          border-width: 2px;
          border-color: $c-red;
        }
      }

      &:focus,
      &:hover {
        &::after {
          border-color: $c-yellow;
        }
      }
    }
  }

  &.menu--open {
    nav {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      padding: 10px 1.5rem;
      background-color: $c-dust-light;

      @include breakpoint($bp-frame-break-up) {
        padding-left: $outer-frame-width;
      }

      ul {
        padding-left: 0;

        li {
          line-height: 2;

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}

