.page--tickets {
  .button--primary {
    position: absolute;
    bottom: 9%;
  }

  @include breakpoint($bp-frame-break) {
    .button--primary {
      margin: auto;
      width: 50%;
      left: 22vw;
    }
  }
}
