.tickets {
  .background-image {
    opacity: 0.2;
  }

  .ticket-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button--primary {
      margin-top: -75px;
      margin-right: 50px;
    }
  }
}
