.section--body {
  padding-bottom: 8%;

  @include breakpoint($bp-narrow) {
    position: relative;
    padding-left: 8%;
    height: 100%;

    clear: left;
    float: left;
    width: 55%;
  }
}

.skeleton__body {
  font-family: $f-base;
  line-height: 1.5;
}
