.sponsor {
  align-items: center;
  background-color: $c-dust-golden;
  box-shadow: 0 40px 30px -30px rgba($c-black, .1);
  display: flex;
  min-height: 10rem;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 2vw;
  }

  .sponsor__link {
    display: block;
  }

  .sponsor__logo {
    display: block;
    height: auto;
    max-height: 10rem;
    max-width: 14rem;
    padding: 1.5rem;
    width: auto;
  }
}
