.sponsor {
  align-items: center;
  background-color: $c-dust-golden;
  box-shadow: 0 40px 30px -30px rgba($c-black, .1);
  display: flex;
  min-height: 10rem;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 2vw;
  }
}

.sponsor__link {
  display: block;
  width: 14rem;
}

.sponsor__logo {
  display: block;
  height: auto;
  max-width: 100%;
  padding: 15%;
}

// Modifiers
.sponsor-group--silver {
  .sponsor {
    flex: 1 1 calc(50% - 0.5rem);
    max-width: calc(50% - 0.5rem);
    min-height: 4rem;
    // TODO: margin bottom logic for multiple sponsors

    &:nth-child(odd) {
      margin-right: 1rem;
    }
  }

  .sponsor__link {
    width: 10rem;
  }
}

.sponsor-group--bronze {
  .sponsor {
    box-shadow: none;
    flex: 1 1 5rem;
    margin-bottom: 0;
    min-height: 4rem;
  }

  .sponsor__link {
    max-width: 7rem;
  }

  .sponsor__logo {
    max-height: 6rem;
  }
}
