.camp-info {
  @include text-small;
  align-items: center;
  display: flex;
  margin-bottom: 1.5rem;

  @include breakpoint($bp-l-up) {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.drupalicon {
  margin-right: 0.8em;
  img {
    display: block;
    height: 1em;
    width: 1em;
  }
}
