#frame {

  // Setup Grid
  // Define the 12 column grid with 1/3 gutters:
  @include add-grid(12);
  @include add-gutter(1/3);

  height: 100%;

  h1 {
    font: $f-heading;
  }

  background-color: #e3dcd6;
  width: 100%;

  &::-webkit-scrollbar{
    display: none;
  }
}

@media screen and (min-width: 700px){
  #frame{
    //overflow: scroll;
    height: 100%;
  }
}
