p {
  margin-bottom: 1em;
}

#app {
  position: relative;
  z-index: 1;
}

.header--page,
.footer--page {
  align-items: center;
  background-color: $c-dust-light;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1.5rem;
  width: 100%;
  z-index: 10;

  @include breakpoint($bp-frame-break-up) {
    min-height: $outer-frame-width;
    padding: 1rem $outer-frame-width;
  }

  @include breakpoint($bp-l-up) {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.header--page {
  left: 0;
  position: fixed;
  top: 0;
}

.footer--page {
  @include breakpoint($bp-l-up) {
    bottom: 0;
    left: 0;
    position: fixed;
  }
}
