#app {
}

#top {
  @extend .clearfix;
  margin: 0 2vw;
  height: 7vh;
}

#middle {
  @extend .clearfix;
}

#bottom {
  @extend .clearfix;
  margin: 0 2vw;
  height: 7vh;
}

@media screen and (min-width: 700px) {
  #app {
    margin: 0 7vh;
  }

  #top {
    margin: 0;
    height: 7vh;
  }

  #middle {
    height: 86vh;
  }

  #bottom {
    margin: 0;
    height: 7vh;
  }

}
