$outer-frame-width: 7.5vh;

#app {
  margin: $outer-frame-width 0 0 0;
  position: relative;
  z-index: 1;
}


#top {
  @extend .clearfix;
  position: fixed;
  top: 0;
  left: 0;
  height: $outer-frame-width;
  width: 100%;
  margin: 0;
  padding: 0 $outer-frame-width;
  z-index: 10;
  background-color: $c-dust-light;
}

#middle {
  @extend .clearfix;
  position: relative;
  height: 93vh;
  overflow: scroll;
}

#bottom{
  @extend .clearfix;
  height: $outer-frame-width;
  width: 100%;
  margin: 0;
  padding: 0 $outer-frame-width;
}


@media screen and (min-width: 700px) {
  #app {
    //margin: 0 7vh;
    margin: $outer-frame-width;
  }

  #top {
    //margin: 0;
  }

  #middle {
    position: relative;
    height: 86vh;
    overflow: scroll;
  }

  #bottom {
    position: fixed;
    bottom: 0;
    left: 0;
  }

}
