.page--venue {
  .content--body {
    @include text-long;
  }

  .button--primary {
    position: absolute;
    bottom: 11%;

    @include breakpoint($bp-frame-break-down) {
      margin: auto;
      width: 50%;
      left: 22vw;
    }
  }
}
