.page--venue {
  .content--aside {
    margin-bottom: 2rem;

    @include breakpoint($bp-frame-break-up) {
      margin-bottom: 0;
    }
  }

  .content--body {
    @include text-long;
  }

  .button--primary {
    min-width: 11em;
    max-width: 20em;

    @include breakpoint($bp-frame-break-down) {
      bottom: 11%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 50%;
    }

    @include breakpoint($bp-frame-break-up) {
      position: relative;
      margin: -5em 0 0 0;
    }
  }

  .title {
    visibility: hidden;

    @include breakpoint($bp-frame-break-up) {
      visibility: visible;
    }
  }
}
