#social {
  @include text-small;
  margin-bottom: 1.5rem;

  @include breakpoint($bp-frame-break-up) {
    margin-bottom: 0;
  }
  .social-twitter {
    height: 1em;
  }

  .social-facebook {
    height: 1.1em;
  }

  img {
    display: inline-block;
    width: auto;
  }

  a {
    margin-right: 1.5em;
    &:not(.social__icon) {
      @include link($thin: true);
    }
  }
}
