#social {
  @include text-small;
  margin-bottom: 1.5rem;

  @include breakpoint($bp-frame-break-up) {
    margin-bottom: 0;
  }
  .social-twitter {
    height: 1em;
  }

  .social-facebook {
    height: 1.1em;
  }

  img {
    display: inline-block;
    width: auto;
  }

  a {
    text-decoration: none;
    color: $c-black;
    margin-right: 1.5em;
  }
}
