#social {
  @include text-small;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  .social-twitter {
    height: 1em;
  }

  .social-facebook {
    height: 1.1em;
  }

  img {
    display: inline-block;
    width: auto;
  }

  a {
    text-decoration: none;
    color: $c-black;
    margin-right: 1.5em;
  }
}
