.page--sponsors {
  position: relative;

  &.two-col {
    padding-top: 5vw;
  }

  .content--trailer {
    margin: 5vw 0 5vw -8vw;
    width: 60vw;
    max-width: 60vw;
  }

  .content--prospectus {
    position: absolute;
    left: 7vw;
    top: 26vw;

    @include breakpoint($bp-frame-desktop) {
      left: 14vw;
    }

    @include breakpoint(min-width 1050px) {
      left: 19vw;
    }

    @include breakpoint(min-width 1400px) {
      left: 22vw;
    }
  }

  .content--aside {
    align-items: stretch !important; // override default
  }
}
