.page--sponsors {
  position: relative;

  &.two-col {
    padding-top: 5vw;
  }

  .content--body {
    position: relative;
  }

  .trailer-wrapper {
    position: absolute;
    left:0;
    width: 140%;
    margin-top: 10%;

    @include breakpoint($bp-frame-break-down) {
      position: relative;
      width: 100%;
      margin: 0;
    }
  }

  .content--trailer {
    position: relative;
    width: 100%;
  }

  .content--prospectus {
    position: absolute;
    height: 100%;
    top: 52%;
    left: 50%;
    transform: translateX(-50%);

    a {
      border: none;
      box-shadow: inset 0 0 0 $c-yellow;
      text-decoration: none;
      transition: background 0.3s ease-out;
    }
  }

  // Override defaults
  .content--aside {
    align-items: stretch !important;
    padding-right: 0 !important;

    @include breakpoint($bp-xs-up) {
      padding-right: 3rem !important;
    }

    img {
      margin: 0 auto;
    }
  }
}
