.page--news {
  .newsletter {
    max-width: 20em;
    min-width: 11em;
    text-align: center;

    @include breakpoint($bp-frame-break-down) {
      bottom: 15%;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      width: 33%;
    }

    @include breakpoint($bp-frame-break-up) {
      position: relative;
      margin: -12em 0 0 0;
    }

    @include breakpoint($bp-l-up) {
      margin: -15em 0 0 0;
    }
  }

  input[type="text"],
  input[type="email"] {
    background: transparent;
    margin: 0 0 10% 0;
  }

  .title {
    visibility: hidden;

    @include breakpoint($bp-frame-break-up) {
      visibility: visible;
    }
  }
}
