.page--news {
  .newsletter {
    position: absolute;
    bottom: 15%;
    width: 33%;
    text-align: center;
  }

  input[type="text"],
  input[type="email"] {
    background: transparent;
    margin: 0 0 10% 0;
  }

  @include breakpoint($bp-frame-break-down) {
    .newsletter {
      left: 29.5vw;
    }
  }
}
