.news {
  .background-image {
    opacity: 0.2;
  }

  .newsletter-image {
    display: flex;
    flex-direction: column;
    align-items: center;

    .newsletter {
      margin-top: -263px;
      width: 215px;
    }

    .mc-field-group {
      margin-bottom: 15px;
    }

    input[type="text"],
    input[type="email"] {
      font-size: 12px;
      font-family: $f-base;
      background: transparent;
      border: 1px solid $c-black;
      border-radius: 2px;
      color: $c-black;
      padding: 15px;
      width: 100%;

      &::placeholder {
        color: $c-black;
      }

      &:focus {
        border-color: $c-blue;
        outline: none;
      }
    }

    .submit {
      margin-top: 10px;
      text-align: center;
    }
  }
}
