.start  {
  position: relative;
  //height: 46vw;

  h1 {
    position: absolute;
    top: 6%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
  
  img {
    display: block;
  }

  #logo {
    position: absolute;
    top: 21%;
    left: 31%;
    width: 37%;
    text-align: center;
  }

  #logo-outline {
    position: absolute;
    top: 20.5%;
    left: 30.5%;
    width: 37%;
    text-align: center;
  }
}


