.page--start {
  position: relative;
  background-size: cover;

  h1 {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .logo {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 21%;
    width: 67vmin;
  }

  .logo--infill {
    padding: 1vmin 0 0 1vmin;
  }
}
