.page--start {
  position: relative;

  h1 {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  .logo {
    position: absolute;
    text-align: center;
    width: 37%;
  }

  .logo--infill {
    top: 21%;
    left: 31%;
  }

  .logo--outline {
    top: 20.5%;
    left: 30.5%;
  }
}
