#header {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  float: left;
  font-size: $font-small;

  img {
    height: 1em;
    width: 1em;
  }
}
