#footer {
  @include text-small;
  margin: 3em 0;
  clear: both;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


  @include breakpoint($bp-frame-break-up) {
    float: right;
    clear: none;
    margin: 0;
    max-width: 525px;
  }

  @include breakpoint(min-width 856px) {
    max-width: 100%;
  }
}
