#finish {
  position: relative;
  //margin-bottom: 7vh;
}

.finish__quote {
  left: 0;
  position: absolute;
  text-align: center;
  top: 21%;
  width: 100%;
}

.finish__quote-text {
  @include text-small($font-size: 0.8rem);
  margin-bottom: 1em;
}

.finish__quote-author {
  font-family: $f-script;
  &::before {
    content: '-';
  }
}
