/* ==========================================================================
   Helper classes and Preferred Defaults
   ========================================================================== */

/* apply a natural box layout model to all elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@mixin clearfix {
  // Duplicate the clearfix extendable class as a mixin so we can
  // use that when that's easier, like inside a media query:
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}

.listreset {
  &, ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin responsive {
  max-width: 100%;
  height: auto;
  width: auto;
  -ms-interpolation-mode: bicubic;
}

@mixin button($bg: $c-red, $padding: 8px 27px) {
  background-color: $bg;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  color: $c-white;
  font-family: $f-heavy;
  font-size: 13px;
  font-style: normal;
  padding: $padding;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin text-heading {
  color: $c-blue-dark;
  font-family: $f-heading;
  font-size: 3.45rem;
  line-height: 1.2;
  margin-bottom: 0.4em;
  text-transform: uppercase;

  @include breakpoint($bp-frame-break) {
    font-size: 2.5rem;
  }
}

@mixin text-small($font-size: 0.75rem) {
  font-family: $f-base;
  font-size: $font-size;
  line-height: 1.5;
}
