h1 {
  @include text-heading;
}

h2 {
  @include text-heading;
}

// Common Page Styles
.page {
  min-height: 46vw;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
