@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~singularitygs/stylesheets/singularitygs";
@import "~sass-toolkit/stylesheets/toolkit/kickstart";
@import "~compass-mixins/lib/compass/css3";


// Colors
$c-dust-light: #ece5df;
$c-dust: #e2dcd6;
$c-red: #ef5a47;
$c-yellow: #ebc387;
$c-blue: #006c87;
$c-blue-dark: #10363f;
$c-black: #161615;
$c-white: #ffffff;

// Typefaces
$f-base: "calder-lc", sans-serif;
$f-heavy: "calder-dark", sans-serif;
$f-heading: $f-heavy;
$f-outline: "calder-dark-outline", sans-serif;
$f-script: "calder-script", sans-serif;

// Font Size
$base-font-size: 16px;


// Setup Breakpoints
$bp-handheld-only: max-width 679px;
$bp-narrow:        min-width 680px;
$bp-medium:        min-width 980px;
$bp-wide:          min-width 1080px;
$bp-portrait:      orientation portrait;

// Singularity GS
$include-clearfix: true;

@import "./reset.scss";
@import "./helpers.scss";

// Set up basic colors and typefaces
html {
  font-size: $base-font-size;
}

body {
  background: $c-dust-light;
  font-family: $f-base;
  line-height: 1.5;
  margin: 0;
}

// Import partials
@import "./JustDumpItAllHere.scss";
@import "./components/App/app.scss";
@import "./components/Button/button.scss";
@import "./components/Menu/menu.scss";
@import "./components/CampInfo/campinfo.scss";
@import "./components/Frame/Start/start.scss";
@import "./components/Frame/News/news.scss";
@import "./components/Frame/Sessions/sessions.scss";
@import "./components/Frame/Sponsors/sponsors.scss";
@import "./components/Frame/Sponsors/Components/SponsorGroup/sponsorgroup.scss";
@import "./components/Frame/Sponsors/Components/Sponsor/sponsor.scss";
@import "./components/Frame/Tickets/tickets.scss";
@import "./components/Frame/Venue/venue.scss";
@import "./components/Frame/Finish/finish.scss";
@import "./components/Social/social.scss";
@import "./components/Footer/footer.scss";
@import "./components/SplashOfColor/splashofcolor.scss";
