@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~singularitygs/stylesheets/singularitygs";
@import "~sass-toolkit/stylesheets/toolkit/kickstart";
@import "~compass-mixins/lib/compass/css3";


// Colors:
$c-dust-light: #ece5df;
$c-dust: #e2dcd6;
$c-red: #ef5a47;
$c-yellow: #ebc387;
$c-blue: #006c87;
$c-blue-dark: #10363f;
$c-black: #161615;

// Typefaces:
$f-base: "calder-lc", sans-serif;
$f-heading: "calder-dark", sans-serif;
$f-outline: "calder-dark-outline", sans-serif;
$f-script: "calder-script", sans-serif;

// Font Size:
$font-large: x-large;
$font-medium: medium;
$font-small: x-small;


// Setup Breakpoints
$bp-handheld-only: max-width    679px;
$bp-narrow:        min-width    680px;
$bp-medium:        min-width    980px;
$bp-wide:          min-width   1080px;
$bp-portrait:      orientation portrait;

/* Set up basic colors and typefaces */
body {
  background: $c-dust-light;
  line-height: 1.5;
}

@import "./helpers.scss";

@import "./components/App/app.scss";
@import "./components/Menu/menu.scss";
@import "./components/Header/header.scss";
@import "./components/Frame/frame.scss";
@import "./components/Frame/Start/start.scss";
@import "./components/Frame/About/about.scss";
@import "./components/Frame/News/news.scss";
@import "./components/Frame/Sessions/sessions.scss";
@import "./components/Frame/Skeleton/skeleton.scss";
@import "./components/Frame/Sponsors/sponsors.scss";
@import "./components/Frame/Tickets/tickets.scss";
@import "./components/Frame/Venue/venue.scss";
@import "./components/Frame/Finish/finish.scss";
@import "./components/Social/social.scss";
@import "./components/Footer/footer.scss";
